version: '3.8'

services:
  web:
    build: .
    container_name: toxic_detector
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
    environment:
      - DEBUG=True
      - ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
    restart: unless-stopped
    stdin_open: true
    tty: true

volumes:
  static_volume:

